html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}
#__next {
  width:100%;
  height: 100%;
}
h1,h2,h3,h4{
  font-family: NotoSerif; 
}
h2{
  text-align: center;
  color: #4A4A4A;
}
h3{
  font-size: 0.9em;
  color:#4A4A4A;
}
div{
  float:left;
}
hr{
  display:block;
  width: 2000px;
  border:1px solid rgb(240, 240, 240);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categorias{
  width: 100%;
  display: table;
  text-align: center;
  padding-left: 0;
}
ul{
  width: 100%;
  display: block;
  text-align: center;
  padding-left: 0;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  overflow: auto;
}
ul::-webkit-scrollbar {
  display: none;
}
ul li{
  display: inline-block;
  float: none;
  background-color: rgb(240, 240, 240);
  color:#4A4A4A;
  padding: 10px;
  margin-left: 0;
  margin:10px;
}
ul li a:visited{
  color:#4A4A4A;
}
footer{
  text-align: center;
  margin:auto;
  margin-bottom: 20px;
  clear:both;
}

footer a {
  color: black;
  padding: 5px;
  text-decoration: none;
}

footer a.active {
  font-family: Poppins-Bold;
}
footer a:hover:not(.active) {background-color: #ddd;}
.header {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 0px;
  padding-right: 0;
  padding-left: 0;
}
.logotipo{
  padding-left: 16px;
}
.search-bar{
  border-radius:10px;
  padding:5px;
  padding-bottom:0px;
  background-color: rgb(240, 240, 240);
  margin-left: 30px;
  width: 400px;
  position:absolute;
  z-index: 1;
  margin-left:220px;
}
.search-bar input{
  border:0;
  outline: none;
  color:black;
  width:80%;
  background-color: rgb(240, 240, 240);
}
.search-icon{
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
.image-container{
  height: 48em;
  width: 100%;
  position: relative;
}
.favorito{
  float:right;
  margin-top: 5px;
  margin-right: 15px;
}
.linea1{
  height: 10px;
  float:right;
}

.linea2{
  display:none;
  float:right;
}
.bottomleft {
  position: absolute;
  bottom: 130px;
  left: 70px;
  font-size: 3em;
  font-family: Poppins-Bold;
  color: white;
}
.topright {
  position: absolute;
  top: 8px;
  right: 16px;
}
.center-div{
  text-align: center;
  margin:auto;
  width: 100%;
}
.ver-productos{
  text-align: center;
  margin:auto;
  margin-top:5em;
  margin-bottom: 5em;
  width: 100%;
}
.ver-productos a{
  padding:15px;
  border:1px solid black;
}
.item{
  background-color:transparent;
}
.item img{
  width: 230px;
  height: 180px;
}
.producto{
  margin-left:9%;
  margin-top:3em;
  position: relative;
  text-align: left;
}
.producto img{
  background-color: rgb(245, 245, 245);
}
.producto h1{
  font-size: 1.2em;
  font-family: Poppins-Bold;
  color: #4A4A4A;
  margin-bottom: 0;
}
.producto p{
  margin-top: 0;
}
.producto a:link {
  text-decoration: none;
  color: #4A4A4A;
}
.invisible{
  display:none;
}
.product-info{
  margin-left: 2em;
  margin-right: 2em;
}
.product-info h3{
  margin-bottom: 30px;
  margin-top:0;
  color:gray;
  font-family: Poppins;
  font-weight: normal;
}
.product-info h2{
  color:black;
  text-align: left;
  margin:0;
  font-family: Poppins;
}
.product-info p{
  margin-top: 5px;
}
.product-info h1{
  margin-bottom: 0;
  font-family: Poppins;
}
.search-productos{
  text-align: left;
  width: auto;
  display:grid;
  background-color: transparent;
}
.search-productos li{
  margin:0;
  padding:10px;
  padding-bottom: 0;
  background-color: transparent;
}
.search-productos a{
  text-decoration: none;
  color:#4A4A4A;
  position:absolute;
  margin-left:15px;
  margin-right: 15px;
}
.product-info-image{
  height: 59em;
  position: relative;
  overflow:hidden;
  background-color: rgb(245, 245, 245);
  padding-left: 7em;
  padding-right: 7em;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../public/fonts/Poppins-Bold.ttf");
  font-style: bold;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "NotoSerif";
  src: url("../public/fonts/NotoSerif-Regular.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@media screen and (max-width: 760px) {
  .search-bar{margin-left: 15px;width: calc(100% - 40px);position: initial;}
  .linea2{display:block;}
  .bottomleft{font-size: 2em;left:10px;bottom: 10px;}
  .image-container{height: 100%;}
  .producto{margin:1em;}
  ul{display:flex;}
  .product-info-image{height:100%;padding:0}
}

