$mobile-screen : 760px;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}
#__next {
  width:100%;
  height: 100%;
}
h1,h2,h3,h4{
    font-family: NotoSerif; 
}
h2{
    text-align: center;
    color: #4A4A4A;
    padding-top:20px;
    font-weight: normal;
}
h3{
    font-size: 0.9em;
    color:#4A4A4A;
    text-align: center;
}

hr{
  display:block;
  width: 9999px;
  border:1px solid rgb(240, 240, 240);
}
img {
  object-fit: cover;
}
ul{
  padding-left: 0;
  list-style-type: none;
    li{
        color:#4A4A4A;
        a:visited{
            color:#4A4A4A;
        }
    }
}
.pagination{
  text-align: center;
  margin:auto;
  margin-bottom: 20px;
  clear:both;
    a{
    color: black;
    padding: 5px;
    border:none;
    background-color: transparent;
    text-decoration: none;
    }

    button {
    font-size: 1.2em;
    color: black;
    padding: 5px;
    text-decoration: none;
    border:none;
    background-color: transparent;
        &.active {
          font-weight: bold;
        }
        &:hover:not(.active) {background-color: #ddd;}
    }
}
.header {
  width: 100%;
  padding:0px;
  display:flow-root;
}
.logotipo{
  float:left;
  padding-left: 16px;
  padding-top: 16px;
}
.search-bar{
  float: left;
  border-radius:10px;
  padding:5px;
  padding-bottom:0px;
  background-color: rgb(240, 240, 240);
  margin-left: 15px;
  width: calc(100% - 40px);
  transition: width 1s;
    @media screen and (min-width: $mobile-screen) {
      margin-left: 30px;
      width: 400px;
    }
    input{
      border:0;
      outline: none;
      color:black;
      width:80%;
      background-color: rgb(240, 240, 240);
    }
}
.search-bar-bigger{
  float: left;
  border-radius:10px;
  padding:5px;
  padding-bottom:0px;
  background-color: rgb(240, 240, 240);
  margin-left: 15px;
  width: calc(100% - 40px);
  transition: width 1s;
    @media screen and (min-width: $mobile-screen) {
      margin-left: 30px;
      width: 90%;
    }
    input{
      border:0;
      outline: none;
      color:black;
      width:80%;
      background-color: rgb(240, 240, 240);
    }
}
.categorias{
  display: block;
  text-align: center;
    li{
        display: inline-block;
        background-color: rgb(240, 240, 240);
        padding: 10px;
        margin-left: 0;
        margin:10px;
    }
}
.search-icon{
  float:left;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
.image-container{
  height: 100%;
  width: 100%;
  position: relative;
  @media screen and (min-width: $mobile-screen) {
    height: 48em;
  }
}
.favorito{
  float:right;
  margin-top: 21px;
  margin-right: 15px;
}
.linea1{
  height: 10px;
  float:right;
  margin-top: 40px;
  @media screen and (min-width: $mobile-screen) {
    margin-top: 0px;
  }
}

.linea2{
  display:block;
  float:right;
  @media screen and (min-width: $mobile-screen) {
    display:none;
  }
}
.bottomleft {
  position: absolute;
  font-size: 2em;
  left:10px;
  bottom: 10px;
  font-weight: bold;
  color: white;
  @media screen and (min-width: $mobile-screen) {
    bottom: 130px;
    left: 70px;
    font-size: 3em;
  }
}
.topright {
  position: absolute;
  top: 16px;
  right: 16px;
}
.producto-imagen-corazon{
  position: relative;
  text-align: left;
  display:inline-block;
  background-color: whitesmoke;
  float:none;
  width:100%;
}
.center-div{
  margin:24px auto;
  max-width: 1700px;
}
.productos-div{
  margin:24px;
  @media screen and (min-width: 900px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
  }
    li{
      margin-top:50px;
      background-color: transparent;
      @media screen and (min-width: 900px) {
        width: calc(50% - 24px);
      }
      @media screen and (min-width: 1200px) {
        width: calc(33% - 24px);
      }
      h1{
        font-size: 1.2em;
        font-family: Poppins;
        font-weight: bold;
        color: #4A4A4A;
        margin-bottom: 0;
        text-align: left;
      }
      p{
          margin-top: 0;
          text-align: left;
      }
      a:link {
          text-decoration: none;
          color: #4A4A4A;
          display: grid;
      }
    }
}
.listItems{
  display: block;
  text-align: center;
  overflow: auto;
  margin-left: 8px;
  margin-bottom: 100px;
    @media screen and (max-width: 1795px) {
      display:flex;
    }
    li{
        display: inline-block;
        margin:15px;
        img{
            width: 265px;
            height: 220px;
        }
    }
}
.ver-productos{
  text-align: center;
  margin:auto;
  margin-top:5em;
  margin-bottom: 5em;
  width: 100%;
    a{
      color: black;
      padding:15px;
      border:1px solid black;
      text-decoration: none;
    }
}
.invisible{
  display:none;
}
.product-info-global{
  float: left;
  display:block;
    @media screen and (min-width: $mobile-screen) {
      display:flex;
    }
}
.product-info{
  margin-left: 2em;
  margin-right: 2em;
  width:initial;
    @media screen and (min-width: $mobile-screen) {
      width:100%;
    }
    h3{
        margin-bottom: 30px;
        margin-top:0;
        color:gray;
        font-family: Poppins;
        font-weight: normal;
        text-align: left;
    }
    h2{
        color:black;
        text-align: left;
        margin:0;
        font-family: Poppins;
    }
    p{
        margin-top: 5px;
    }
    h1{
        margin-bottom: 0;
        font-family: Poppins;
    }
}
.search-productos{
  text-align: left;
  display:grid;
  padding:0;
  padding-top: 10px;
  float:left;
    @media screen and (min-width: $mobile-screen) {
      padding: 20px;
    }   
    li{
        margin:0;
        padding:10px;
        padding-bottom: 0;
        background-color: transparent;
        display: inline-block;
    }
    a{
        text-decoration: none;
        color:#4A4A4A;
        position:absolute;
        margin-left:15px;
        margin-right: 15px;
        padding-top:25px;
    } 
}
.product-info-image{
  position: relative;
  overflow:hidden;
  background-color: rgb(245, 245, 245);
  height:100%;
  padding:0;
  @media screen and (min-width: $mobile-screen) {
    padding-left: 7em;
    padding-right: 7em;
  }
}
.search-div{
  float:left;
  background-color: white;
  position: absolute;
  z-index: 1;
  width:100%;
  margin-left:0px;
  margin-top:75px;
  padding-top: 0;
  @media screen and (min-width: $mobile-screen) {
    margin-left:200px;
    width: 55%;
    margin-top: 0px;
    padding-top: 16px;
  }
}
.search-div-border{
  float:left;
  background-color: white;
  position: absolute;
  z-index: 1;
  padding-top: 16px;
  margin-left:0px;
  width: 100%;
  border:none;
  margin-top:75px;
  padding-top: 0;
  @media screen and (min-width: $mobile-screen) {
    margin-left:200px;
    width: 55%;
    border:4px solid rgb(245, 245, 245);
    border-radius: 5px;
    border-top:none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top:0px;
    padding-top: 16px;
  }
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "NotoSerif";
  src: url("../public/fonts/NotoSerif-Regular.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

